.fp-xpert_upload-size {
    display: none;
}

.repository_xpert_upload_wrapper {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.repository_xpert_upload .fp-xpert_upload-size {
    display: table-row;
}

.repository_xpert_upload .fp-content {
    position: relative;
}

.repository_xpert_upload_wrapper textarea {
    display: none;
}

.repository_xpert_upload_wrapper > div {
    margin: 20% auto;
    text-align: center;
}

.repository_xpert_upload .colourradiobutton {
    padding-left: 5px;
}

.repository_xpert_upload .colourwhiteblack {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}

.repository_xpert_upload .colourblackwhite {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}

.repository_xpert_upload .colourgreyblack {
    background-color: #ccc;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}

.repository_xpert_upload .colourbluebrown {
    background-color: #c5effd;
    border: 1px solid #000;
    color: #231f20;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}
.repository_xpert_upload .colourpeachbrown {
    background-color: #ecc5a8;
    border: 1px solid #000;
    color: #372f18;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}

.repository_xpert_upload .colouryellowblack {
    background-color: #fefcd7;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}

.repository_xpert_upload .colourpinkblack {
    background-color: #ffe9e8;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    padding: 2px;
    width: 260px;
}
